.divider {
    border:dashed grey 1px;
    margin-top: 15px;
    margin-bottom:15px;
}

.highlight-problem {
    background-color: #F9CCCC;
}

.highlight-mechanism {
    background-color: rgb(194, 240, 194);
}

.token {
    border: none;
    /*background-color: rgb(238, 238, 238);*/
    padding:0px 1px 0px 1px;
    margin:0px;
}

.token-container {
    border: none;
    color: none;
}